<div class="row">
    <div class="col">
        <h4>PRIORITY To-Do</h4>
        <ul>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
        </ul>
        <h4>To-Do</h4>
        <ul>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
            <li><input type="text" class="form-control" /></li>
        </ul>
    </div>
</div>
