@model List<Objective>

<h1>Brain Dump Confirmation</h1>

<ul>
    @foreach (var objective in Model)
    {
        <li>
            <strong>Type of Entry:</strong> @objective.TypeOfEntry <br />
            <strong>Description:</strong> @objective.Description <br />
            <strong>Time:</strong> @objective.Time
        </li>
    }
</ul>
