@model List<Objective>

@{
    ViewData["Title"] = "BrainDump";
}

<h2>Calendar Events Saved! (not really yet)</h2>

@* @foreach (var objective in Model)
{
    <h3>Type of Entry: @objective.TypeOfEntry</h3>
    <h3>Description: @objective.Description</h3>
    <h3>Time: @objective.Time</h3>
} *@