@{
    ViewData["Title"] = "Snapshot";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">CURRENT FOCUS:</h1>
            <div>
                <button type="button" class="btn btn-success">On Track</button>
                <button type="button" class="btn btn-info">View Action Plan</button>
                <button type="button" class="btn btn-danger">Need Help</button>
            </div>
            <partial name="_TodosPartial" />
        </div>
        <div class="col-md-6">
            <partial name="_ReadOnlyCalendarPartial" />
        </div>
    </div>
</div>


